
A:link { COLOR: blue; TEXT-DECORATION: none; font-weight: normal }
A:visited { COLOR: blue; TEXT-DECORATION: none; font-weight: normal }
A:active { COLOR: blue; TEXT-DECORATION: none }
A:hover { COLOR: red; TEXT-DECORATION: none; font-weight: none }
